<footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Emilio Andrés Hernández</h5>
          <p class="grey-text text-lighten-4">
            <q>La innovación es lo que distingue a un líder de los demás. Steve Jobs</q>
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/emiliohernandez._/">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="mailto:emiliohernandezgt@gmail.com">Correo electrónico</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Copyright
      </div>
    </div>
  </footer>