<div class="navbar-fixed">
  <nav class="black">
    <div class="nav-wrapper">
      <a routerLink="" class="brand-logo" style="font-size: medium;">@emiliohernandezdev</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="home"><i class="material-icons left">home</i>Inicio</a></li>
      </ul>
    </div>
  </nav>
  
  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="home"><i class="material-icons left">home</i>Inicio</a></li>
  </ul>
</div>




