<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#contact">
        <i class="material-icons">contacts</i>
    </a>
</div>

<div id="contact" class="modal">
    <div class="modal-content">
      <h4>Contacto:</h4>
      <p>Maneras de contactarme</p>
      <br/>
      <div class="row">
          <div class="col m6">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/github.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">GitHub<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">@emiliohernandezdev<i class="material-icons right">close</i></span>
                  <p>En GitHub, me encuentras como <a href="https://github.com/emiliohernandezdev" target="_blank">@emiliohernandezdev</a>.</p>
                </div>
              </div>
          </div>
          <div class="col m6">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/codepen.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">CodePen<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Mis trozos de código, en CodePen.io<i class="material-icons right">close</i></span>
                  <p><a href="https://codepen.io/emiliohernandezgt07" target="_blan">Visita mis códigos</a></p>
                </div>
              </div>
          </div>
      </div>

      <div class="row">
        <div class="col m6">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/wpp.webp">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">WhatsApp<i class="material-icons right">more_vert</i></span>
                <p><a href="#">WhatsAppeame! </a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Listo, para recibir tus mensajes<i class="material-icons right">close</i></span>
                <p>Para WhatsApp, me puedes escribir a mi número <a href="tel:+50235453894" target="_blank">presionando aquí</a>.</p>
              </div>
            </div>
        </div>
        <div class="col m6">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/linkedin.svg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">LinkedIn<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Mi currículum, electrónico<i class="material-icons right">close</i></span>
                <p><a href="https://linkedin.com/in/emilio-hernández-ab8562148/" target="_blan">Conoce más sobre mí!</a></p>
              </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
      <a (click)="close()" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>

<div class="section black white-text">
    <div class="row container">
        <h2 class="header">Emilio Hernandez</h2>
        <p class="white-text text-darken-3 lighten-3">
            <code>{{code }}</code>
        </p>
    </div>
</div>

<div class="section white black-text">
    <div class="row container">
        <h2 class="header">Perfil</h2>
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="../../../assets/hashtag.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
    </div>
</div>


<div class="section black white-text">
  <div class="row container">
    <img src="../../../assets/KNL_LOGO.png" class="responsive-img" />
      <h2 class="header" style="font-size: xx-large;">Diversificado</h2>
      <p class="white-text text-darken-3 lighten-3">
        De una institución tan gloriosa, como lo es Fundación Kinal, me he graduado en el año 2019.
        <br/>
        Obtuve el título de Perito en Informática
      </p>
  </div>
</div>


<div class="section white black-text">
    <div class="row container">
      <img src="../../../assets/mariano.png" class="responsive-img" />
        <h2 class="header">Universidad</h2>
        <p class="white-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in
            this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
</div>

<div class="section black white-text">
    <div class="row container">
        <h2 class="header">Programación</h2>
        <p class="white-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in
            this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
</div>

<div class="section white black-text">
    <div class="row container">
        <h2 class="header">Perfil</h2>
        <p class="white-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in
            this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
</div>