<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#contact">
        <i class="material-icons">contacts</i>
    </a>
</div>


<div id="contact" class="modal">
    <div class="modal-content">
      <h4>Contacto:</h4>
      <p>Maneras de contactarme</p>
      <br/>
      <div class="row">
          <div class="col m6">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/github.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">GitHub<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">@emiliohernandezdev<i class="material-icons right">close</i></span>
                  <p>En GitHub, me encuentras como <a href="https://github.com/emiliohernandezdev" target="_blank">@emiliohernandezdev</a>.</p>
                </div>
              </div>
          </div>
          <div class="col m6">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="../../../assets/codepen.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">CodePen<i class="material-icons right">more_vert</i></span>
                  <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Mis trozos de código, en CodePen.io<i class="material-icons right">close</i></span>
                  <p><a href="https://codepen.io/emiliohernandezgt07" target="_blan">Visita mis códigos</a></p>
                </div>
              </div>
          </div>
      </div>

      <div class="row">
        <div class="col m6">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/wpp.webp">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">WhatsApp<i class="material-icons right">more_vert</i></span>
                <p><a href="#">WhatsAppeame! </a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Listo, para recibir tus mensajes<i class="material-icons right">close</i></span>
                <p>Para WhatsApp, me puedes escribir a mi número <a href="tel:+50235453894" target="_blank">presionando aquí</a>.</p>
              </div>
            </div>
        </div>
        <div class="col m6">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../../assets/linkedin.svg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">LinkedIn<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Mi currículum, electrónico<i class="material-icons right">close</i></span>
                <p><a href="https://linkedin.com/in/emilio-hernández-ab8562148/" target="_blan">Conoce más sobre mí!</a></p>
              </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
      <a (click)="close()" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
  </div>

<div class="section black white-text">
    <div class="row container">
        <h2 class="header">Emilio Hernandez</h2>
        <p class="white-text text-darken-3 lighten-3">
            <code>{{code }}</code>
        </p>
    </div>
</div>

<div class="section white black-text">
    <div class="row container">
        <h2 class="header">Perfil</h2>
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="../../../assets/hashtag.png">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
    </div>
</div>


<div class="section black white-text">
  <div class="row container">
    <img src="../../../assets/KNL_LOGO.png" class="responsive-img" />
      <h2 class="header" style="font-size: xx-large;">Diversificado</h2>
      <p class="white-text text-darken-3 lighten-3">
        De una institución tan gloriosa, como lo es Fundación Kinal, me he graduado en el año 2019.
        <br/>
        Obtuve el título de Perito en Informática. <br/>
        El mejor Centro Educativo Técnico de Guatemala, me enseñó un valor, que jamás olvidaré... <br/> <b>EL TRABAJO BIEN HECHO.</b>
      </p>
  </div>
</div>


<div class="section white black-text">
    <div class="row container">
      <img src="../../../assets/mariano.png" class="responsive-img" />
        <h2 class="header" style="font-size: xx-large;">Universidad</h2>
        <p class="black-text text-darken-3 lighten-3">
          Mi aventura, como universitario, inicia un 01 de febrero de 2020. En donde, decido ingresar a la facultad de
          ingeniería, en la Universidad Mariano Gálvez, sede de Antigua Guatemala. <br/>
          Esperando dar, lo mejor de mí, y honrar a mi familia. <br/>
        </p>
    </div>
</div>

<div class="section black white-text">
    <div class="row container">
        <h2 class="header" style="font-size:xx-large">Programación</h2>
        <p class="white-text text-darken-3 lighten-3">
          En cuánto a la programación se refiere, me gusta aprender nuevos lenguajes, y nuevas tecnologías, bases de datos y etc. <br/>
          He aprendido a usar varios lenguajes de programación, como:</p>
          <div class="row">
            <ul class="collection">
              <li class="collection-item black avatar z-depth-5">
                <img src="../../../assets/dart.png" alt="" class="circle">
                <span class="title">Dart</span>
                <p>Lenguaje para utilizar Flutter, de Google.</p>
              </li>
              <li class="collection-item black avatar z-depth-5">
                <img src="../../../assets/java.png" alt="" class="circle">
                <span class="title">Java</span>
                <p>Crear aplicaciones de Java, con conexión a SQL.</p>
              </li>
              <li class="collection-item black avatar z-depth-5">
                <img src="../../../assets/js.png" alt="" class="circle">
                <span class="title">Javascript</span>
                <p>Desarrollo de Backend con ExpressJS, JWT-Simple, Mongoose, y etc.</p>
              </li>
              <li class="collection-item black avatar z-depth-5">
                <img src="../../../assets/typescript.svg" alt="" class="circle">
                <span class="title">Typescript</span>
                <p>Con Angular, NestJS, y etc.</p>
              </li>
              <li class="collection-item black avatar z-depth-5">
                <img src="../../../assets/ruby.png" alt="" class="circle">
                <span class="title">Ruby</span>
                <p>Uso de Ruby on Rails.</p>
              </li>
            </ul>
          </div>
          <p class="white-text text-darken-3 lighten-3">
            También, Frameworks, SDK y bibliotecas como:</p>
                
            <div class="row">
              <ul class="collection">
                <li class="collection-item black avatar z-depth-5">
                  <img src="../../../assets/angular.png" alt="" class="circle responsive-img">
                  <span class="title">Angular</span>
                  <p>Typescript + HTML + Sass, para páginas web, o PWA.</p>
                </li>
                <li class="collection-item black avatar z-depth-5">
                  <img src="../../../assets/ionlogo.png" alt="" class="circle responsive-img">
                  <span class="title">Ionic</span>
                  <p>Desarrollo móvil con Angular.</p>
                </li>
                <li class="collection-item black avatar z-depth-5">
                  <img src="../../../assets/react.png" alt="" class="circle responsive-img">
                  <span class="title">React</span>
                  <p>Framework para desarrollo de dispositivos móviles (React Native), y también para web.</p>
                </li>
                <li class="collection-item black avatar z-depth-5">
                  <img src="../../../assets/nodejs.png" alt="" class="circle responsive-img">
                  <span class="title">NodeJS</span>
                  <p>Uso de librerías, como Express, JWT, Body Parser, y etc.</p>
                </li>
                <li class="collection-item black avatar z-depth-5">
                  <img src="../../../assets/nest.svg" alt="" class="circle responsive-img">
                  <span class="title">NestJS</span>
                  <p>Crear backend, super poderoso, compilado a Javascript</p>
                </li>
                <li class="collection-item black avatar z-depth-5">
                  <img src="../../../assets/flutter.jpeg" alt="" class="circle responsive-img">
                  <span class="title">Flutter</span>
                  <p>Desarrollo móvil nativo.</p>
                </li>
              </ul>
            </div>

            <p class="white-text text-darken-3 lighten-3">
              Finalmente, bases de datos tales como:</p>

              <div class="row">
                <ul class="collection">
                  <li class="collection-item black avatar z-depth-5">
                    <img src="../../../assets/mongo.png" alt="" class="circle responsive-img">
                    <span class="title">MongoDB</span>
                    <p>Base de datos no relacional, formato BSON</p>
                  </li>
                
                  <li class="collection-item black avatar z-depth-5">
                    <img src="../../../assets/mysql.svg" alt="" class="circle responsive-img">
                    <span class="title">MySQL</span>
                    <p>Base de datos de tipo SQL, es decir, relacional.</p>
                  </li>

                  <li class="collection-item black avatar z-depth-5">
                    <img src="../../../assets/sql.jpg" alt="" class="circle responsive-img">
                    <span class="title">SQL Server</span>
                    <p>Base de datos relacional, en versiones 2008, y 2012</p>
                  </li>

                  <li class="collection-item black avatar z-depth-5">
                    <img src="../../../assets/fbaselg.jpg" alt="" class="circle responsive-img">
                    <span class="title">Firebase Realtime Database</span>
                    <p>Base de datos, no relacional, en tiempo real.</p>
                  </li>
                </ul>
              </div>
    </div>
</div>
